.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(circle, #43cea2, #185a9d);
}

.app header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.app main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}
