.scoreboard {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 340px) {
  .scoreboard {
    padding: 30px;
  }
}
